streamlit
langchain>=1.2.0
langchain-classic>=1.0.0
langchain-community
langchain-groq
langchain-huggingface
langchain-chroma
langchain-experimental
langchain-text-splitters
python-dotenv
pypdf
flashrank
rank_bm25
sentence-transformers
pysqlite3-binary
chromadb