streamlit
langchain>=1.0.0
langchain-classic
langchain-community
langchain-groq
langchain-huggingface
langchain-chroma
langchain-experimental
python-dotenv
pypdf
flashrank
sentence-transformers
pydantic>=2.0.0
pysqlite3-binary